html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
}

@keyframes rotate {
  100% {
    background-position: 3% 90%;
  }
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 24px;
  background-image: url("./background/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  animation: rotate 3s infinite alternate linear;
}
