:root {
  --color-instruction: rgba(254, 186, 252, 0.957);
  --color-instruction-hover: rgba(255, 223, 253, 0.911);
  --color-border: #ff0;
  --color-backgound-guide: rgba(0, 0, 0, 0.552);
  --color-guide-shadow: rgba(0, 0, 0, 0.927);
}

/*  GuideConteiner */
.guideConteiner-conteiner {
  width: 98vw;
  height: 98vh;
  margin: 0 0 0 -10px;
  padding: 0;
}
.guideConteiner-guide {
  margin: 10px 0 0 0;
  border: 2px solid var(--color-border);
  background-color: var(--color-backgound-guide);
}
/*  /GuideConteiner */

/* Guide */
.guide-instruction {
  color: var(--color-instruction);
  font-size: 1.1rem;
  margin: 20px 0;
  text-align: center;
  text-shadow: 2px 2px var(--color-guide-shadow);
}
.guide-instruction:hover {
  color: var(--color-instruction-hover);
}
/* /Guide */
